{% if ui_from_profiles %}
{% extends "layouts/" + render_mode + "-tall.html" %}
{% else %}
{% extends "logs/layout.html" %}
{% endif %}
{#

Toggling a remote access method to on will:

   1) Display current status of that method
   2) If unconfigured, pop a modal for configuring
   3) If configured, there's a button to pop the modal

Remote access always requires a TLS certificate; users who want other
options need to use the CLI. For LAN and Tor, we create ask no questions,
just generate a self-signed cert.

For PageKite exposure, we attempt a letsencrypt ACME setup.

-------------------------------------------------------------------------

Remote access things:

   * Built-in Web Server
      1. Port number
      2. localhost or 0.0.0.0 (preserve custom addresses)
         1. List of accepted host names?

   * Enable remote access
      1. The public web (using a PageKite relay)
      2. Over Tor (hidden service)

      3. SSL or no
         1. Generate a self signed cert!
         2. Allow user to specify/upload their own cert?


   * PageKite
      - Use pagekite.net, a whitelabel or a fixed relay?
      - my-mailpile.is?

   * Tor hidden services
      - We can do this if we run our own Tor process, otherwise it's
        not really configurable from within Mailpile

THINGS TO CONSIDER:

   - Is there any reason to not just to TLS all the time?
   - For security reasons, we should probably limit which Host: headers
     we accept. These settings affect that.
   - Freedom requires PageKite.net not be the only relay option possible

[ FUTURE MAGIC
   * Accounts/credentials
      1. Allow users to create (and revoke) per-device passwords?
      ... Does this feature make sense until we have apps?
      2. Enabling 2FA
]

#}
{% block title %}{{_("Remote Access")}}{% endblock %}

{% block content %}
<div class="content-normal settings-page">
 {%- set httpd_proto = 'https' if config.sys.https_pem_file else 'http' %}
 {%- set httpd_url = httpd_proto + '://' + config.sys.http_host + ':' + config.sys.http_port|string + '/' + config.sys.http_path %}
 <form method="POST" id="settings-form"
       action="{{ U('/settings/set/') }}?ui_return={{ U('/settings/remote-access.html?ui_saved=True%26ui_httpd_url=', httpd_url) }}"
       >{{ csrf_field|safe }}

  <h1 class="page-title-data mobile-hide">
    <span class="page-title-icon"><span class="icon icon-force-graph"></span></span>
    <span class="page-title-text">{{_("Remote Access")}}</span>
  </h1>

  <div class="notices">
  {% if ui_saved %}
    <p>
      <span class="icon icon-checkmark"></span>
      {{_("Your settings have been saved.")}}
    </p>
  {% endif %}
  {% if ui_httpd_url and ui_httpd_url != httpd_url %}
    <p>
      <span class="icon icon-signature-unknown"></span>
      {{_("Web server settings have changed!")}}
    </p>
  {% endif %}
  </div>

  <a name="accounts"></a><div class="setting-group">
    <h3>{{_("Addresses and Networks")}}</h3>
    <div class="explanation">
      <p class="what">
        <span class="icon icon-groups"></span>
        {{_("...")}}
      </p>
    </div>
    <div class="settings">
      <p style="line-height: 1.8em;">
        <label >
          <span class="icon icon-image"></span>
          {{_("Standard web access")}}:
        </label>
        {%- set pref, val = 'pagekite', False %}
        {%- set sel = {(val and True or False): ' checked'} %}
        <span class="float: right">
          <input type=radio name="{{ pref }}" value="None"{{ sel.get(False, '') }}>
          <span class="checkbox">{{_("Off")}}</span>
          <input type=radio name="{{ pref }}" value="{{ val }}"{{  sel.get(True,  '') }}>
          <span class="checkbox">{{_("On")}}</span>
        </span>
      </p>
      <p style="line-height: 1.8em; padding-left: 2em;">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAACWAQMAAAAGz+OhAAAABlBMVEX///8AAABVwtN+AAABa0lEQVRIib2Wsa3DMAxEz3Ch0iNokcBezMA34MUUeBGNkJJFYP4jlQT5rUF9FUH8UjAi744Ggs+kqk+kQzFD73zQLZ5twJpTAZ/S/QED4WxXWYGxppIxPPTsxbIeKkOVngzCyVj/OjHvnyyVA/rb04vMZp7TUWXO6VsHgawdSkuLTf7rxDHWlR+VW05a0zm160WzJwtl90fmxcT7F8ywwiqWrAWpTO1ywWzaMuuaP05vZJPCdWaG5jDcC9Yr/yWY0QtUkrD0op/+dWD8utjdOPBP3UjGu+le5WbapbMZHfGMuqIHqV0ZlDNv/yWaqZoI6PPWv7llyXW2V+rU7GBqnZh46ML2ytKWG+cE71U020DtYmTAVh9+26GhzE+25bZo26Tx7JXj/Dzb7gHimccdqF36o1C77/eNq8x3MhmYG+/+9WGjgmuUkardGEWlZ3aLuNaC2eYxe2jLple2BzOfuYx8QVILphnx7B/OL8sR+Wi7ROtDAAAAAElFTkSuQmCC"
             style="width: 80px; margin-left: 10px" align=right>
        <label>
          {{_("Status")}}:
          Active!
        </label>
        <br>
        <label>
          {{_("URL")}}:
          <a href="">https://horse-dog-squirrel.my-mailpile.is/</a>
        </label>
        <br>
        <label>
          {{_("Relay Service Provider")}}:
          <a target=_blank href="https://pagekite.net/company/">The Beanstalks Project ehf</a>
        </label>
        <br>
        <span>
          [ <a href="">edit</a> ]
        </span>
        <br clear="both"><br>
      </p>
      <p style="line-height: 1.8em;">
        <label >
          <span class="icon icon-tor"></span>
          {{_("Anonymous web access over Tor")}}:
        </label>
        {%- set pref, val = 'tor', False %}
        {%- set sel = {(val and True or False): ' checked'} %}
        <span class="float: right">
          <input type=radio name="{{ pref }}" value="None"{{ sel.get(False, '') }}>
          <span class="checkbox">{{_("Off")}}</span>
          <input type=radio name="{{ pref }}" value="{{ val }}"{{  sel.get(True,  '') }}>
          <span class="checkbox">{{_("On")}}</span>
        </span>
      </p>
      <p style="line-height: 1.8em;">
        <label >
          <span class="icon icon-star"></span>
          {{_("Direct IP (LAN/WAN) access")}}:
        </label>
        {%- set pref, val = 'allinterfaces', False %}
        {%- set sel = {(val and True or False): ' checked'} %}
        <span class="float: right">
          <input type=radio name="{{ pref }}" value="None"{{ sel.get(False, '') }}>
          <span class="checkbox">{{_("Off")}}</span>
          <input type=radio name="{{ pref }}" value="{{ val }}"{{  sel.get(True,  '') }}>
          <span class="checkbox">{{_("On")}}</span>
        </span>
      </p>
    </div>
    <br clear="both">
  </div>

  <span style="position: fixed; bottom: 15px; border: 5px solid #eee;">
    <button class="button-primary" type="submit">{{_("Save Settings")}}</button>
  </span>
 </form>
</div>
<script language="javascript">
  $('#settings-form').on('submit', function() {
  });
</script>
{% endblock %}
